<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muze Music Player</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/player.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="index.html">
                <p>Converter</p>
            </a>
            <a href="#" class="active-nav">
                <p>Player</p>
            </a>
        </header>

        <div class="main-body">
            <div class="player" id="playerContainer">
                <button id="selectSongs">Select songs</button>
            </div>
        </div>

    </div>
    <script src="../player.js" defer></script>
</body>
</html>